.custom-dropdown-body .ant-card-body {
  padding: 0;
  margin: 0;
}

.custom-dropdown-head .ant-card-head {
  background-color: #e4ecff !important;
  padding-right: 80px;
  padding-top: -40px;
}

.custom-dropdown-title .ant-card-head-title {
  color: black !important;
  font-size: 18px;
}
