@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #a0cff0; */
  background-color: #e8ebed;
}

/* styles/globals.css - To reset the margin from the card component provided by ant design */
.ant-row.custom-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This prevents horizontal scrolling */
  box-sizing: border-box;
}

/* :root {
  --background: #e02e2e;
  --foreground: #c97878;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
